.faq-section {
    padding: 60px 100px;
    background-color: #ffffff;
  }
  
  .faq-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: auto;
  }
  
  
  .faq-left {
    width: 40%;
    text-align: left;
  }
  
  .faq-left h2 {
    font-size: 32px;
    font-weight: bold;
    color: #232323;
    display: flex;
    align-items: center;
  }
  
  .faq-left .highlight {
    color: red;
    font-weight: bold;
    font-size: 36px;
    margin-right: 8px;
  }
  
  .faq-left p {
    color: #555;
    font-size: 16px;
    margin-top: 10px;
  }
  
 
  .faq-right {
    width: 55%;
  }
  
  .faq-item {
    border-bottom: 1px solid #ddd;
    padding: 15px 0;
    cursor: pointer;
  }
  
  .faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    color: #232323;
  }
  
  .faq-answer {
    margin-top: 10px;
    color: #555;
    font-size: 16px;
  }
  